body {
    background: url('../Content/Images/joburgback.jpg') no-repeat;
    color: darkgreen;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    z-index: 2;
    height: 754px;
    width: 525px;
    padding: 8px;
}
